<div
  class='d-flex flex-column justify-content-center align-items-center'
  style='min-height: 70vh;'
>
  <div class='text-center'>
    <h1 class='mb-3' style='color: #4a2c5a;'>
      <i
        class='bi bi-lock-fill'
        style='font-size: 2.5rem; vertical-align: middle;'
      ></i>
      Acesso negado
    </h1>
    <p class='lead mb-4'>Você não tem permissão para acessar esta página.</p>
    <a href='/account/login' class='btn btn-lg btn-primary mb-4 button'>
      <i class='bi bi-box-arrow-in-right'></i>
      Fazer login
    </a>
  </div>
</div>