{{> page-header 
  icon="bi bi-key" 
  title="Alterar Senha" 
  actionIcon=(showArrowIcon '/')
}}

{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
{{/if}}

<form action='/account/changePassword' method='post'>
  {{> form-field 
    type="password"
    name="currentPassword"
    id="currentPassword"
    label="Senha Atual"
    error=errors.currentPassword
  }}

  {{> form-field 
    type="password"
    name="newPassword"
    id="newPassword"
    label="Nova Senha"
    error=errors.newPassword
  }}

  {{> form-field 
    type="password"
    name="confirmNewPassword"
    id="confirmNewPassword"
    label="Confirmar Nova Senha"
    error=errors.confirmNewPassword
  }}

  <button type='submit' class='btn btn-primary button'>Salvar Alterações</button>
</form>