
{{> page-header 
  icon="bi bi-person-circle" 
  title="Fazer Login" 
  actionIcon=(showArrowIcon '/users/index')
}}

{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
{{/if}}

<script src="/js/validations/login.js"></script>

<form action='/account/login' method='post'>
  {{> form-field 
    type="text"
    name="email"
    id="email"
    label="Email"
    placeholder="exemplo@email.com"
    error=errors.email
  }}

  {{> form-field 
    type="password"
    name="password"
    id="password"
    label="Senha"
    placeholder="Sua senha"
    error=errors.password
  }}

  <button type='submit' class='btn btn-primary button'>Entrar</button>
</form>