<div id='space'></div>

<script type='module' src='js/game.js'></script>
<audio
  id='battle-in-stars'
  src='assets/audio/favorites/battle-in-stars.ogg'
  loop
  preload='auto'
></audio>

<audio id='defeat' src='assets/audio/favorites/defeat.ogg'></audio>