<div id='space'></div>

<script type='module' src='js/game.js'></script>
<audio
  id='battle-in-stars'
  src='assets/audio/favorites/battle-in-stars.ogg'
  loop
  preload='auto'
></audio>

<audio id='defeat' src='assets/audio/favorites/defeat.ogg'></audio>
<audio id='shoot' src='assets/audio/shoots/normal-shoot.ogg'></audio>
<audio id='long-shoot' src='assets/audio/shoots/long-shoot.ogg'></audio>