<div
  class='d-flex flex-column justify-content-center align-items-center'
  style='min-height: 70vh;'
>
  <div class='row align-items-center'>
    <div class='col-md-6 text-center'>
      <img
        src='/img/error-404.png'
        alt='Erro 404'
        style='max-width: 250px; width: 100%;'
      />
    </div>
    <div class='col-md-6 text-center'>
      <h1 class='mb-3' style='color: #4a2c5a;'>
        {{message}}
      </h1>
      <p class='lead mb-4'>{{helperMessage}}</p>

      <a href='/' class='btn btn-lg btn-primary mb-4 button'>
        <i class='bi bi-box-arrow-in-right'></i>
        Voltar para a página inicial
      </a>
    </div>
  </div>
</div>