{{> page-header 
  icon="bi bi-mortarboard" 
  title="Criar Novo Curso" 
  actionIcon=(showArrowIcon '/majors/index')
}}

<form action='/majors/create' method='post'>
  {{> form-field 
    type="text"
    name="code"
    id="code"
    label="Código do Curso"
    placeholder="IE08"
    maxlength="4"
  }}

  {{> form-field 
    type="text"
    name="name"
    id="name"
    label="Nome do Curso"
    placeholder="Ciência da Computação"
  }}

  {{> form-field 
    type="textarea"
    name="description"
    id="description"
    label="Descrição"
    placeholder="Informe a descrição do curso"
    rows="3"
  }}

  <button type='submit' class='btn btn-primary button'>Criar Curso</button>
</form>